Data/*.json
Data/*.fa
Data/*.fai
Data/*.bam
Data/*.bai
Data/*.bed
Data/*.bed.gz
Data/*.txt
Data/*.bigWig
Data/*.bed.graph
Data/*.bed.graph.gz
.DS_Store
.ipynb_checkpoints/*
Notebooks/.ipynb_checkpoints/*
Data/.ipynb_checkpoints/*
