Data/*.json
Data/*.bw
Data/*.fa
Data/*.fai
Data/*.bam
Data/*.bai
Data/*.bed
Data/*.bed.gz
Data/*.txt
Data/*.bigWig
Data/*.bedgraph
Data/*.bedgraph.gz
.DS_Store
.ipynb_checkpoints/*
Notebooks/.ipynb_checkpoints/*
Data/.ipynb_checkpoints/*
